/* Manan Makwana 8909747 */

body
{
    font : normal normal normal 12px/1.5 Arial;
    height : 100vh;
    width : 100vw;

    background-color: hsla(200, 45%, 81%,0.7 );

}
header{
    background-color: hsla(200, 89%, 35%, 0.7);
}
h2
{
    font-size: 2rem;
    color: rgb(233, 10, 10);
}

main{
    background-color: hsla(64, 84%, 46%, 0.7);
    float: left;
    width: 65vw;
    height: 60vh;
}

aside{
    background-color: hsla(0, 0%, 0%, 0.7);
    float: right;
    width: 25vw;
    height: 60vh;
}

footer{
    clear: both;
    background-color: hsla(17, 100%, 50%, 0.7);
}

.structural{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

#para1{
    color: rgb(201, 77, 106);
}

#para2{
    color: rgb(17, 29, 194);
}

a:hover{
    color: #f09 ;
}
footer p{
    font-size: .75em;
}